body {
  background-color: #3ffb81;
  font-size: 25px;
  font-style: normal;
  margin-left: 1.5em;
  margin-top: 1em;
  font-family: "Fredoka", sans-serif;
}
nav {
  border-radius: 5%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.486);
  width: 15%;
  background-color: #94653b;
}
main {
  display: flex;
  justify-content: center;
}
div.card-container {
  font-size: larger;
  background-color: #94653b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 600px;
  height: 400px;
  border-radius: 5%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.486);
}
nav:hover {
  transform: scale(1.15);
  background-color: bisque;
}
div.header-card {
  display: flex;
  align-items: center;
  text-align: center;
  width: 60%;
  justify-content: space-between;
  flex-direction: column;
}
div.pokename {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1px;
  width: 80%;
  justify-content: space-between;
  flex-direction: column;
  background-color: #00ad53;
  color: #20fa88;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.315);
}
div.main-card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1px;
  width: 80%;
  justify-content: space-around;
  background-color: #00ad53;
  color: #20fa88;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.315);
}
div#footer-card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1px;
  width: 80%;
  justify-content: space-between;
  flex-direction: column;
  background-color: #00ad53;
  color: #20fa88;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.315);
}
div.pesalt {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1px;
  width: 70%;
  justify-content: space-between;
  flex-direction: column;
  background-color: #00ad53;
  color: #20fa88;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.315);
}
a {
  text-decoration: none;
}
